.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background: linear-gradient(to bottom right, #918ab6, #ffffff);
  background-size: cover;
  z-index: 0;
}
  h1 {
    display: inline-block;
    font-family: 'Satisfy', monospace;
    font-size: 4rem;

  }
  body, html {
    margin: 0;
    padding: 0;
  }
  

  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: white; 

  }

  .login-button {
    width: 100%;
  }

  .login-card {
    width: 400px;
    margin: 0 auto;
    padding: 16px;
    background: linear-gradient(to bottom right, #a19aaf, #aaa4b6);

  }
  .signup-card{
    width: 400px;
    margin: 0 auto;
    margin-top: 1.5rem;

    padding: 16px;
    background: linear-gradient(to bottom right, #cdc5db, #c9c6d1);
    border: #2b2a31;
    border-radius: 0.2rem;
  }

  .full-width {
    width: 100%;
  }
  .divTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
  }
  .logo{
    padding-left: 2rem;
  }
  .LabelInput{
    padding-bottom: 0.3rem ;
    font-weight: 500;
  }
  .LabelInput2{
    
    padding-top: 1rem;
    font-weight: 500;

  }

  .buttonAction{
    padding: 0.5rem;
    padding-top: 2rem;
  }
  .card-container {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    max-width: 400px;
    
    background: linear-gradient(to bottom right, #a19aaf, #aaa4b6);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Initial box shadow with no blur */
  }
  
  .card-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }


  .errorMessage{
    margin-top: 1rem;
    color: red;
  }
  
  .invalid-input {
    border-color: red;
  }
  .full-width {
    width: 100%;
  }

