<div class="login-container">
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 245 240">
      <!-- SVG code for logo -->
    </svg>
  </div>
  <div class="divTitle">
    <h1>Fantasy Rol</h1>
  </div>

  <mat-card class="login-card card-container">
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div>
          <label class="LabelInput">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" autocomplete="username"
            placeholder="name@example.com" formControlName="email">
        </div>
        <div>
          <label class="LabelInput2">Password</label>
          <input type="password" class="form-control" id="passwordInput" autocomplete="current-password"
            formControlName="password">
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="buttonAction">
      <button class="buttonAction" mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="signup-card card-container">
    <mat-card-content>
      New to Fantasy Rol?
      <a routerLink="/signup">Create an account</a>
    </mat-card-content>
  </mat-card>
</div>
