.logo{
    padding-top: 3rem;
}
.example-spacer {
    flex: 1 1 auto;
  }


  
  .custom-tab-label {
    color: white; /* Set the desired text color for the tab labels */
    position: relative;
    transition: color 0.3s;
  }
  
  .custom-tab-label::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color:  rgb(255, 255, 255); /* Set the desired underline color for active tabs */
    transition: width 0.3s;
  }
  
  .custom-tab-label.active::after {
    width: 100%;
    background-color: rgb(38, 175, 255); /* Set the desired underline color for active tabs */
  }
  
  .custom-tab-label:hover {
    color: rgb(205, 174, 255); /* Set the desired text color on hover */
  }
  
  .custom-tab-label:hover::after {
    width: 100%;
  }
  .mat-tab-label {
    cursor: none; /* Remove default cursor from the mat-tab element */
  }
  
  .custom-tab-label {
    cursor: pointer; /* Apply cursor to the span element */
  }