<div *ngIf="loaded">

    <div class="attribute-container">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
          <button class="btn btn-primary btn-block text-center" style="width: 100%; margin: 0.5rem;" (click)="save()">Save bonuses</button>
        </div>
        
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-2" *ngFor="let bonus of bonusesBase">
              <mat-card class="custom-card-bonus">
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-4 characteristicDesc">
                      {{bonus.characteristicDesc}}
                    </div>
                    <div class="col-md-3 characteristicInput">
                      <input type="number" [(ngModel)]="bonus.bonusValue" class="square-input" min="2" max="18">
                    </div>
                    <div class="col-md-3">
                      <mat-checkbox [(ngModel)]="bonus.setProficiency" (change)="updateProficiency(bonus)"></mat-checkbox>
                    </div>
                    <div class="col-md-1 characteristicDesc">
                      <div class="calculated-number" [ngStyle]="{ color: getCalculatedNumberColor(bonus) }">
                        <span>{{ getCalculatedNumber(bonus) }}</span>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      
      </div>
    
    
      <div class="attribute-container">
        <div class="row">
          <div class="col-md-2">
            <div *ngFor="let bonus of bonuses">
              <mat-card class="custom-card-bonus">
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-4 characteristicDesc">
                      <div>{{bonus.characteristicDesc}}</div>
                    </div>
                    <div class="col-md-3 characteristicInput">
                      <input type="number" [(ngModel)]="bonus.bonusValue" class="square-input" min="2" max="18">
                    </div>
                    <div class="col-md-2">
                      <mat-checkbox [(ngModel)]="bonus.setProficiency" (change)="updateProficiency(bonus)"></mat-checkbox>
                    </div>
                    <div class="col-md-1 characteristicDesc">
                      <div class="calculated-number" [ngStyle]="{ color: getCalculatedNumberColor(bonus) }">
                        <span>{{ getCalculatedNumber(bonus) }}</span>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-md-9">
            <mat-card class="custom-card-view">
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-10">
                    <h1>Name: {{character.name}}</h1>

                    </div>
                    <div class="col-md-2">
                    <button mat-raised-button color="primary"  (click)="editCharacter()">Edit character</button>

                    </div>

                  </div>
                  <h3>Description: {{character.description}}</h3>
              
                  <mat-tab-group (selectedTabChange)="onTabChange($event)">
                    <mat-tab label="Trasfondo">
                        <ng-template matTabContent>
                            <div class="background-info">
                              <h1>Trasfondo</h1>
                              <div class="background-details">
                                <div class="background-item">
                                  <h2>Name:</h2>
                                  <p>{{character.background.name}}</p>
                                </div>
                                <div class="background-item">
                                  <h2>Features:</h2>
                                  <p>{{character.background.features}}</p>
                                </div>
                                <div class="background-item">
                                  <h2>Personality Trait:</h2>
                                  <p>{{character.background.personalityTrait}}</p>
                                </div>
                                <div class="background-item">
                                  <h2>Ideal:</h2>
                                  <p>{{character.background.ideal}}</p>
                                </div>
                                <div class="background-item">
                                  <h2>Bond:</h2>
                                  <p>{{character.background.bond}}</p>
                                </div>
                                <div class="background-item">
                                  <h2>Flaw:</h2>
                                  <p>{{character.background.flaw}}</p>
                                </div>
                                <div class="background-item">
                                  <h2>Languages:</h2>
                                  <p>{{character.background.languages}}</p>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                          
                    </mat-tab>
                    <mat-tab label="Abilities of class and race">
                      <ng-template matTabContent>
                        <h2>Abilities of class and race</h2>
                        <h3>Descripcion de Clase</h3>
                        <h4>{{character.characterClass.name}}</h4>
                        <p>{{character.characterClass.description}}</p>

                        <h3>Abilities of Race</h3>
                        <h4>{{character.characterRace.name}}</h4>
                        <p>{{character.characterRace.description}}</p>

                        <h3>Abilities of character</h3>
                        <button mat-raised-button color="primary" class="new-ability" (click)="toggleNewAbility()">Create New Ability</button>

                        <div *ngIf="showNewAbilityForm" class="new-ability">
                          <div class="row">
                            <mat-form-field appearance="outline">
                              <mat-label>New Ability Title</mat-label>
                              <input matInput [(ngModel)]="newAbility.name">
                            </mat-form-field>
                          </div>
                          <div class="row">
                            <mat-form-field appearance="outline">
                              <mat-label>New Ability Description</mat-label>
                              <textarea matInput [(ngModel)]="newAbility.description"></textarea>
                            </mat-form-field>
                          </div>
                          <div class="row">
                            <button mat-raised-button color="primary" (click)="saveNewAbility()">Save</button>
                            <button mat-raised-button color="warn" (click)="cancelNewAbility()">Cancel</button>
                          </div>
                        </div>

                        <div *ngFor="let ability of abilities">
                          <div [ngClass]="{ 'editable': ability.editable }">
                            <div class="row">
                              <mat-form-field appearance="outline">
                                <mat-label>Título</mat-label>
                                <input matInput [(ngModel)]="ability.name" [disabled]="!ability.editable" [ngClass]="{ 'disabled-opacity': !ability.editable }">
                              </mat-form-field>
                            </div>
                            <div class="row">
                              <div class="col-md-10">
                                <mat-form-field appearance="outline">
                                  <mat-label>Descripción</mat-label>
                                  <textarea matInput [(ngModel)]="ability.description" [disabled]="!ability.editable" [ngClass]="{ 'disabled-opacity': !ability.editable }"></textarea>
                                </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                <button mat-icon-button (click)="toggleEditability(ability)">
                                  <mat-icon>{{ ability.editable ? 'save' : 'edit' }}</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        

                      </ng-template>
                    </mat-tab>
                    <mat-tab label="Hechizos">
                      
                      

                      <h2>Spells</h2>
                      <mat-tab-group>
                        
                        <mat-tab label="Hechizos Personaje">
                          <div class="row">

                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Name:</mat-label>
                                <input matInput [(ngModel)]="nameFilterCharacter" (input)="applyFiltersCharacter()" class="form-control rounded">
                              </mat-form-field>
                            </div>
                            
                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Description:</mat-label>
                                <input matInput [(ngModel)]="descriptionFilterCharacter" (input)="applyFiltersCharacter()" class="form-control rounded">
                              </mat-form-field>
                            </div>
    
                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Level:</mat-label>
                                <input matInput [(ngModel)]="levelFilterCharacter" (input)="applyFiltersCharacter()" class="form-control rounded">
                              </mat-form-field>
                            </div>
                            
                            
                            
                            <div class="col-md-2">
    
                            </div>
                          </div>
                          
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="col-md-2">Name</th>
                                  <th class="col-md-4">Description</th>
                                  <th class="col-md-2">School</th>
                                  <th class="col-md-1">Spell Level</th>
                                  <th class="col-md-4">Components</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let spell of spellsCharacter">
                                  <td class="col-md-2">{{ spell.name }}</td>
                                  <td class="col-md-4">{{ spell.description }}</td>
                                  <td class="col-md-1">{{ spell.schoolDesc }}</td>
                                  <td class="col-md-1">{{ spell.spellLevel }}</td>
                                  <td class="col-md-4">{{ spell.components }}</td>
                                  <td class="col-md-1">
                                    <button mat-icon-button (click)="deleteSpell(spell)">
                                      <mat-icon>close</mat-icon>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          
                          <mat-paginator *ngIf="loaded" [length]="getTotalItemsCharacter()" [pageSize]="10" [pageIndex]="currentPageCharacter - 1" (page)="onPageChangeCharacter($event)"></mat-paginator>
    
                        </mat-tab>

                        <mat-tab label="Hechizos">
                          <div class="row">

                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Name:</mat-label>
                                <input matInput [(ngModel)]="nameFilter" (input)="applyFilters()" class="form-control rounded">
                              </mat-form-field>
                            </div>
                            
                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Description:</mat-label>
                                <input matInput [(ngModel)]="descriptionFilter" (input)="applyFilters()" class="form-control rounded">
                              </mat-form-field>
                            </div>
    
                            <div class="col-md-3">
                              <mat-form-field appearance="outline">
                                <mat-label>Level:</mat-label>
                                <input matInput [(ngModel)]="levelFilter" (input)="applyFilters()" class="form-control rounded">
                              </mat-form-field>
                            </div>
                            
                            
                            
                            <div class="col-md-2">
    
                            </div>
                          </div>
                          
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="col-md-2">Name</th>
                                  <th class="col-md-4">Description</th>
                                  <th class="col-md-1">School</th>
                                  <th class="col-md-1">Spell Level</th>
                                  <th class="col-md-3">Components</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let spell of spells">
                                  <td class="col-md-2">{{ spell.name }}</td>
                                  <td class="col-md-4">{{ spell.description }}</td>
                                  <td class="col-md-1">{{ spell.schoolDesc }}</td>
                                  <td class="col-md-1">{{ spell.spellLevel }}</td>
                                  <td class="col-md-3">{{ spell.components }}</td>
                                  <td class="col-md-1">
                                    <button mat-icon-button (click)="saveSpell(spell)">
                                      <mat-icon>save</mat-icon>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          
                          
                          <mat-paginator [length]="getTotalItems()" [pageSize]="10" [pageIndex]="currentPage - 1" (page)="onPageChange($event)"></mat-paginator>
    
                        </mat-tab>
                        
                      </mat-tab-group>

                    </mat-tab>
                  </mat-tab-group>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </div>
      
</div>

  
<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible">
    <c-toast-header>
      Error
    </c-toast-header>
    <c-toast-body>
      <p>{{error}}</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerSaveChange($event)"
    (visibleChange)="onVisibleSaveChange($event)"
    [visible]="visibleSave">
    <c-toast-header>
      Saved
    </c-toast-header>
    <c-toast-body>
      <p>Saved correctly</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>
